@import url("https://fonts.googleapis.com/css?family=Arvo");

/* 
Same as mobile-first, but this time fallback-first. Use Flex as baseline and build upon it.

This isn't necessary, if you only want to support the latest versions of browsers. But keep in mind
that i removed multi-browser support attributes.
*/

body,
html {
  /* 1D equivalent of CSS Grid */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: mintcream;
  font-size: 13px;
  font-family: "Arvo", monospace;
}


/* If the browser supports CSS Grid */

@supports ((display: -ms-grid) or (display: grid)) {
  body,
  html {
    display: block;
  }
}


/* Only used as a message box to show the user that CSS Grid isn't supported */

.message {
  border: 1px solid cornsilk;
  /* 
  Relative to the font-size of the root (2em means 2 times the size of the current font)
  13px * 2 = 26px
  There's also 'em', which is relative to the font size of the current element.
   */
  padding: 2rem;
  /* 
  Viewport (browser) width.
  There's also vh (viewport height), which is really useful, because the real height
  of the site could only be measured AFTER the side is loaded. CSS is already applied
  before the site is fully loaded.
  */
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px darkslategray;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;
}


/* If the screen width is at least 768 pixel */

@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}

@supports ((display: -ms-grid) or (display: grid)) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5rem;
}

a {
  /* Hide link underline */
  text-decoration: none;
}

.grid {
  display: grid;
  /* Space between grid elements */
  grid-gap: 2rem;
  /* Fit as many columns on the page with a minimum of 300 pixel in width  */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Align rows with a height relative to the font size of the page (times 15) */
  grid-auto-rows: 15rem;
  /* Increase spatial column density (try to fill all open spots in columns) */
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  /* Place item descriptions at the end of the column (bottom) */
  flex-direction: column;
  justify-content: flex-end;
  /* Set image by CSS */
  background: url("https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?auto=format&fit=crop&w=1000&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  /* Try to fit the image to the element */
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  /* Animate the image hover zoom */
  transition: transform 0.3s ease-in-out;
  /* Change the mouse cursor */
  cursor: pointer;
  /* 
  This is used to count the number of elements.
  Each time an item (class "item") is added, this number increases by 1.
   */
  counter-increment: item-counter;
}


/* Each third item */

.item:nth-of-type(3n) {
  background-image: url("https://images.unsplash.com/photo-1453814235491-3cfac3999928?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.item:nth-of-type(4n) {
  background-image: url("https://images.unsplash.com/photo-1495511623436-ba44aaee07cf?auto=format&fit=crop&w=1051&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.item:nth-of-type(5n) {
  background-image: url("https://images.unsplash.com/photo-1501608007014-6af9282011ca?auto=format&fit=crop&w=1234&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.item:nth-of-type(6n) {
  background-image: url("https://images.unsplash.com/photo-1494255109162-2f3d1eddb31e?auto=format&fit=crop&w=700&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* This slightly darkens the images, if the mouse doesn't hover above an item */
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}


/* If the mouse hovers over an item */

.item:hover {
  /* Slightly increase its size (zoom) */
  transform: scale(1.05);
}

.item:hover:after {
  /* Remove the darkening of the image */
  opacity: 0;
}

.item--medium {
  /* Span two rows */
  grid-row-end: span 2;
}

.item--large {
  /* Span three rows */
  grid-row-end: span 3;
}

.item--full {
  /* Span all columns */
  grid-column-end: auto;
}

@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}

.item__details {
  position: relative;
  /* Show it 'above' items */
  z-index: 1;
  padding: 1.15rem;
  color: lightslategray;
  background: white;
  text-transform: capitalize;
  /* Uniform letter spacing */
  letter-spacing: 1px;
  transition: visibility 0s, opacity 0.5s ease;
}

.item__details:before {
  /* Use the counter as the titles number */
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: darkslategray;
}

#card-overlay {
  border: 5px solid red;
  background-image: url("https://images.unsplash.com/photo-1501003878151-d3cb87799705?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}